@import url("https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/lxgwwenkaiscreenr.css");

body {
  font-family: Verdana, system-ui, Helvetica, PingFang TC, PingFang SC, sans-serif;
  font-size: 1em;
}
code {
  font-family: Menlo, Monaco, monospace;
}
pre code {
  font-family: Menlo, Monaco, monospace;
}
h1, h2 {
  font-family: "Gill Sans MT", "Gill Sans", Avenir, "Trebuchet MS", PingFang TC, PingFang SC, sans-serif;
}
